html {
  font-family: "Benne", serif;
  font-size: 16px;
}

.hero {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.6),
      rgba(255, 255, 255, 0.6)
    ),
    url("./images/hero.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 600px;
  padding-bottom: 200px;
  width: 99.9vw;
}

.price-choice {
  background-color: whitesmoke;
  border: 1px solid black;
  border-radius: 2%;
  min-width: 250px;
  width: 25%;
  height: 100%;
}

.price-choice > h3 {
  background-color: rgba(153, 149, 151, 0.1);
  font-size: 2rem;
  padding: 15px 0 10px 0;
  text-align: center;
}

.btn {
  background-color: rgb(199, 187, 194);
  border: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 1rem;
  font-weight: bold;
  height: 45px;
  min-width: 150px;
  text-transform: uppercase;
}

.btn:hover {
  background-color: rgb(153, 149, 151);
  cursor: pointer;
}

.product-name {
  font-family: "Cutive Mono", monospace;
  font-size: 1.8rem;
  letter-spacing: 0.05rem;
}

.nav-link {
  display: block;
  color: black;
  padding: 25px 10px;
  text-decoration: none;
  font-size: 1.3rem;
}

.nav-link:hover {
  background-color: rgba(196, 192, 192, 0.3);
}

.footer-nav-link {
  color: black;
  font-size: 1.2rem;
  padding: 0px 10px;
  text-decoration: none;
}

.fas {
  font-size: 2.5rem;
  letter-spacing: 0.5rem;
}

.cost {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.price-desc {
  font-size: 1.3rem;
  text-align: center;
  line-height: 1.8rem;
  margin-top: 25px;
}

.select-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

#header {
  background-color: whitesmoke;
  display: flex;
  position: fixed;
  justify-content: space-between;
  min-height: 60px;
  min-width: 99.9vw;
}

#header-img {
  width: 65px;
  padding-left: 50px;
}

#nav-menu {
  list-style-type: none;
  margin: 0;
  padding-right: 50px;
}

#nav-menu > li {
  float: left;
}

#title-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  padding-top: 100px;
  -webkit-text-stroke: 1px #5a5c53;
}

#title {
  font-size: 5rem;
}

#subtitle {
  font-size: 2rem;
}

#how-it-works {
  background-color: whitesmoke;
  display: flex;
  height: 400px;
  width: 99.9vw;
}

#video-desc {
  background-color: whitesmoke;
  width: 35%;
}

#video-desc > h2 {
  padding-top: 100px;
  padding-left: 40px;
  font-size: 5vw;
  text-align: left;
}

#video-desc > h2 > .product-name {
  font-size: 6.5vw;
}

#video-area {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65%;
}

#pricing {
  background-color: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 500px;
  width: 99.9vw;
  position: relative;
}

#price-cats {
  background-color: whitesmoke;
  display: flex;
  height: 65%;
  justify-content: space-around;
  width: 95%;
}

#email-entry-form {
  display: flex;
  margin-top: 10rem;
  flex-direction: column;
  align-items: center;
}

#email {
  padding-left: 10px;
  height: 35px;
  min-width: 275px;
}

#submit-wrapper {
  display: flex;
  margin-top: 1rem;
  justify-content: center;
}

#footer {
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  height: 80px;
  width: 99.9vw;
}

#footer-content {
  width: 1200px;
  background-color: rgba(153, 149, 151, 0.1);
}

#footer-content > p {
  text-align: right;
  padding-right: 15px;
}

#footer-nav {
  display: block;
  float: right;
}

#footer-nav-menu {
  padding-top: 20px;
  margin-bottom: 10px;
  list-style-type: none;
}

#footer-nav-menu > li {
  float: left;
}

/**
  * MEDIA STYLES 
  */
@media (max-width: 780px) {
  #video-desc > h2 {
    font-size: 10vw;
    text-align: left;
  }

  #video-desc > h2 > .product-name {
    font-size: 9.5vw;
  }

  #pricing {
    height: 1100px;
  }

  #price-cats {
    flex-direction: column;
    align-items: center;
    height: 95%;
    width: 75%;
  }

  .price-choice {
    width: 50%;
    height: 30%;
  }

  #video-desc > h2 {
    padding-top: 10px;
    font-size: 6vw;
    text-align: left;
  }

  #video-desc > h2 > .product-name {
    font-size: 6.5vw;
  }
}

@media (max-width: 600px) {
  #header {
    position: relative;
  }

  #header-img {
    padding-left: 10px;
  }

  #nav-menu {
    padding-right: 10px;
  }

  .nav-link {
    font-size: 0.8rem;
  }

  #title-area {
    padding-top: 50px;
  }

  #how-it-works {
    flex-direction: column;
  }

  #video-desc {
    height: 50%;
    width: 100%;
  }

  #video-area {
    height: 50%;
    width: 100%;
  }

  #video-desc > h2 {
    padding-top: 10px;
    font-size: 10vw;
    text-align: left;
  }

  #video-desc > h2 > .product-name {
    font-size: 10.5vw;
  }

  .hero {
    padding-bottom: 100px;
  }
}
