html {
  font-size: 16px;
}

h1 {
  font-size: 3rem;
  color: green;
}

li {
  display: inline;
  list-style: none;
}

.content {
  padding-top: 100px;
}

.logo-text {
  display: inline;
}

#header {
  background-color: yellow;
  display: flex;
  position: fixed;
  justify-content: space-between;
  min-height: 80px;
  min-width: 100vw;
  /* padding: 0px 50px 0px 50px;  What do? */
}

#header-img {
  display: inline-block;
  max-height: 50px;
}
